<section class="bg-black text-white py-16 px-8">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-center">

    <!-- Columna izquierda (texto) -->
    <div class="space-y-6">
      <h2 class="text-3xl font-bold border-b-2 border-blue-500 inline-block pb-1">ABOUT ME</h2>
      <p class="text-blue-400 text-3xl">{{correo}}</p>
      <p class="text-gray-300 text-2xl leading-relaxed">
        Soy un Full Stack Developer con experiencia en Node.js, Angular, HTML5 y CSS3. Desarrollo aplicaciones web
        completas,
        desde el frontend hasta el backend y bases de datos. Experiencia en APIs REST, seguridad y optimización de
        rendimiento.
        También soy creativo, entusiasta y autodidacta, siempre buscando
        optimizar rendimiento y seguridad en las aplicaciones.
      </p>
       <a href="/assets/cv/CV Diego Arevalo C.pdf" download class="inline-block bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600 transition">
    Descargar CV
  </a>
      <div class="pt-6">
        <p class="font-semibold"></p>
        <p class="text-blue-400"></p>
      </div>
    </div>

    <!-- Columna derecha (imagen con overlay en media cara) -->
   <div class="relative flex justify-start">
  <img src="../../../assets/imagenes/Diseño sin título (1).png"
       alt="Profile picture"
       class="rounded-lg shadow-lg object-cover h-full w-full max-w-md" />

  <div ></div>
</div>


  </div>
</section>



