<header class="bg-black fixed top-0 left-0 w-full flex justify-between items-center p-5 z-50">
  <h1 class="text-white text-3xl font-900">Mi Landing</h1>
  <nav>
    <a href="#features" class="text-white text-[1.375rem] px-8 hover:text-blue-400">home</a>
    <a href="#features" class="text-white text-[1.375rem] px-8 hover:text-blue-400">about me</a>
    <a href="#contact" class="text-white text-[1.375rem] px-8 hover:text-blue-400">resume</a>
    <a href="#features" class="text-white text-[1.375rem] px-8 hover:text-blue-400">folio</a>
  </nav>
</header>

